@model List<Hospital>

<h1>Hospitales SQL Server</h1>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Teléfono</th>
			<th>Detalles</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var hospital in Model)
		{
			<tr>
				<td>@hospital.Nombre - @hospital.IdHospital</td>
				<td>@hospital.Direccion</td>
				<td>@hospital.Telefono</td>
				<td>
					@Html.ActionLink("Details", "Details", "Hospitales", new { id = hospital.IdHospital })
					
				</td>
			</tr>
		}
	</tbody>
</table>