@model Hospital
<h1 style="color:darkred">Modificar hospital</h1>

<form method="post">
	<label>Id Hospital</label>
	<input type="text" name="idhospital" value="@Model.IdHospital" />
	<label>Nombre</label>
	<input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
	<label>Dirección</label>
	<input type="text" name="direccion" value="@Model.Direccion" class="form-control" />
	<label>Teléfono</label>
	<input type="text" name="telefono" value="@Model.Telefono" class="form-control" />
	<label>Camas</label>
	<input type="text" name="camas" value="@Model.Camas" class="form-control" />
	<button class="btn btn-info">Modificar hospital</button>
</form>

<h2 style="color: darkblue">@ViewData["MENSAJE"]</h2>